
html {
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
}

* {
  box-sizing: border-box;
}

body {
  overflow-y: visible;
  position: relative;
  height: unset;

  text-align: center;
}
html,
body {
  overflow-x: hidden;
  margin: 0;
}
